<!DOCTYPE html>

<html>

    <head>
        <title>About</title>  
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="/img/my-hero-academia-season-4-episode-11-lemillion.png">
        </div>
        
        {{>footer}}
    </body>

</html>